@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base { 
    /* font pairing 1  */
    
    @font-face {
        font-family: "Figtree-Medium";
        font-style: normal;
        font-display: swap;
        src: url(/media/fonts/Figtree-Medium.ttf) format("woff2");
    }
    @font-face {
        font-family: "Playfair-Display";
        font-style: normal;
        font-display: swap;
        src: url(/media/fonts/PlayfairDisplay-BoldItalic.ttf)
            format("woff2");
    }

    @font-face {
        font-family: "LibreBaskerville-Regular";
        font-style: normal;
        font-display: swap;
        src: url(/media/fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf);
    }
  
    @font-face {
        font-family: "SourceSans3-Regular";
        font-style: normal;
        font-display: swap;
        src: url(/media/fonts/Roboto/Roboto-Light.ttf);
    }
}
